<style type="text/css">	
	
	
	td.head{
		background:#345b80;
		color:white;
		font-style:bold;
		font-family:Arial;
		text-align:center;
		border-color:#000;border-style:solid;border-width:1px;
		padding:6px 3px 6x 3px;}


	td.head-gray	{background:#F3EBEB;color:#000;}
	td.head-gray1	{background:#9A9A9A;color:#000;}

	td.titulo1{
		background:#581845;
		background-image: linear-gradient(#581845,#900C3F);
		/*background-image: linear-gradient(#00008B,#0000CD);*/
		color:white;
		text-align:center;
		font-size:25px;
        /*font-family:Arial,Geneva,Verdana,Helvetica;*/
        font-weight:bold;
        border-color:#FFF;
        border-style:solid;
        border-width: 1px;
        padding:2px 2px 2x 2px;
	}

    input:focus {
		background-color: #E9E9E9;
	}

	td.titulo {
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#581845,#900C3F);
		border-radius: 6px;
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
		color:white;
		text-align:center;
		font-size:25px;
		/*font-family:Arial,Geneva,Verdana,Helvetica;*/
		font-weight:bold;
		border-color:#FFF;
		border-style:solid;
		padding: 0 10px;
		/*position: relative;*/
	}

.finish{
	background-image: linear-gradient(#a0faa0, #f3f3f3);
	font-family:Arial;
	align:center;
}

.warning{
	background-image: linear-gradient(#f6fda4, #f3f3f3);
	/*background:#f6fda4;*/
	font-family:Arial;
	align:center;
}

.begin{
	/*background-image: linear-gradient(#c9cdc9, #f3f3f3);*/
	background-image: linear-gradient(#f09c92, #ffffff);
	/*background:#f9a694 	;*/
	font-family:Arial;
	align:center;
}

.novalid{
	/*background-image: linear-gradient(#c9cdc9, #f3f3f3);*/
	background-image: linear-gradient(#585858,#585858);
	/*background:#f9a694 	;*/
	font-family:Arial;
	align:center;
}

.evoluc{	
	background-image: linear-gradient(#fed55c, #f3f3f3);
	/*background:#c9cdc9;*/
	font-family:Arial;
}

	td.titulo-COOP {
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#22956B,#066441);
		border-radius: 6px;
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
		color:white;
		text-align:center;
		font-size:25px;
		/*font-family:Arial,Geneva,Verdana,Helvetica;*/
		font-weight:bold;
		border-color:#FFF;
		border-style:solid;
		padding: 0 10px;
		/*position: relative;*/
	}

	td.titulo-ZER {
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#262EA2,#060C64);
		border-radius: 6px;
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
		color:white;
		text-align:center;
		font-size:25px;
		/*font-family:Arial,Geneva,Verdana,Helvetica;*/
		font-weight:bold;
		border-color:#FFF;
		border-style:solid;
		padding: 0 10px;
		/*position: relative;*/
	}

	td.titulo-NOVALID {
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#585858,#585858);
		border-radius: 6px;
		box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
		color:white;
		text-align:center;
		font-size:25px;
		/*font-family:Arial,Geneva,Verdana,Helvetica;*/
		font-weight:bold;
		border-color:#FFF;
		border-style:solid;
		padding: 0 10px;
		/*position: relative;*/
	}


	td.subtitulo{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#581845,#900C3F);
		color:white;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	}

	td.subtitulo-ZER{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#262EA2,#060C64);
		color:white;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	    padding:1px 1px 1px 1px;
	}

	td.subtitulo-COOP{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#22956B,#066441);
			color:white;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	    padding:1px 1px 1px 1px;
	}

	td.subtitulo-NOVALID{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#585858,#585858);
			color:white;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	    padding:1px 1px 1px 1px;
	}

	td.data-COOP{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#BCF5A9,#D8F6CE);
		color:black;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	    padding:1px 1px 1px 1px;
	}

	td.data-ZER{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#A9D0F5,#CEECF5);
			color:black;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	    padding:1px 1px 1px 1px;
	}

	td.data-NOVALID{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#BDBDBD,#CCCCCC);
			color:white;
		text-align:center;
		font-size:18px;
	    /*font-family:Arial,Geneva,Verdana,Helvetica;*/
	    font-weight:bold;
	    border-color:#FFF;
	    border-style:solid;
	    border-width: 1px;
	    padding:1px 1px 1x 1px;
	}

	td.selected{
		background:#00CC66;
		color:white;
		text-align:center;
		font-size:18px;
        /*font-family:Arial,Geneva,Verdana,Helvetica;*/
        font-weight:bold;
        border-color:#FFF;
        border-style:solid;
        border-width: 1px;
        padding:2px 2px 2x 2px;
	}


	td.subtitulo{
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#581845,#900C3F);
		color:white;
		text-align:center;
		font-size:18px;
        /*font-family:Arial,Geneva,Verdana,Helvetica;*/
        font-weight:bold;
        border-color:#FFF;
        border-style:solid;
        border-width: 1px;
        padding:2px 2px 2x 2px;
	}


	td.bold{
		font-weight:bold;
	}

	td.separador{
		background:#638cb5;
		color:white;
		text-align:center;
		font-size:18px;
        /*font-family:Arial,Geneva,Verdana,Helvetica;*/
        font-weight:bold;
        border-color:#FFF;
        border-style:solid;
        border-width: 1px;
        padding:2px 2px 2x 2px;
	}
	
input.boton{
    font-size:10px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#581845;
    border:0px;
   }

a.boton{
	background-color:#581845;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #000000;
	padding:2px 2px;
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#581845;
   }

.boton:hover {
	background-color:#AAffb5;
	color:black;}
.boton:active {
	position:relative;
	top:1px;
}

.myButton {
	background-color:#581845;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #0a0a0a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:2px 2px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.myButton:hover {
	background-color:#AAffb5;
	color:black;}
.myButton:active {
	position:relative;
	top:1px;
}

.myTable-gray {
	/*background-color:#EFEFEF;*/
	background-image: linear-gradient(#fff, #ccc);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	border:1px solid #0a0a0a;
	cursor:pointer;
	padding:1px 1px;
	text-decoration:none;
}

.link{
	font-size: 18px;
	font-weight: bold;
	color:#638cb5;
}

.link:hover{
	font-weight: bold;
	color:green;
}

.caja {
   margin:20px auto 40px auto;	
   border:1px solid #d9d9d9;
   height:30px;
   overflow: hidden;
   width: 70px;
   position:relative;
}

select {
   /*background: transparent;*/
   border:3px solid #d9d9d9;
   font-size: 14px;
   height: 35px;
   padding: 5px;
}
select:focus{ outline: none;}

.caja::after{
	content:"\025be";
	display:table-cell;
	padding-top:7px;
	text-align:center;
	width:30px;
	height:30px;
	/*background-color:#d9d9d9;*/
	position:absolute;
	top:0;
	right:0px;	
	pointer-events: none;
}




table.menu-gray {background:#D2D2D2	;border-color:#345b80;border-style:solid;border-width:3px;text-align:center;}

H1.SaltoDePagina{ PAGE-BREAK-AFTER: always}

</style>
